やねうらおこと磯崎元洋先生に憧れて情報系の大学に入りました。
高校生の頃、BMSにドハマり。
当時はBMSの曲しか聴かなかった。
1998年にBM98という軽くて高性能なソフトを開発して
当時一世を風靡していた。

...
プログラミングとか、情報数学の内容は面白い。
枠にとらわれることなく、自分の考えるものを設計をするのは最高である。
しかし、驚異的なスピードで変わり続ける世の中に対して
常にぼんやりとした不安が付きまとってくる。
私は、この業界に入って一生涯、45年くらい
食べていけるのだろうか。
現在流行っている人工知能なんかも、一時の流行に過ぎないのではないか。
2,3年も経てば市場がガラッと変わってしまうことも不思議ではなく...
心配性の私は常に漠然とした不安を抱えているのである。
科学の発展に対して傍観できる人間でありたい。

-------------

日記
2025.9.23
RenderでWeb制作を始める。HTMLは、一年生の時によく遊びで作っていたので
基本的な知識はある。JavaScriptやCSSなんかも、ちゃんと設計できるようになりたい。

2025.10.1
私が作ったゲームDOUBLE MINE。友人と試しにやってみて、いろいろルールを改正した。
相手の考えを予測する、という心理ゲーム。
欠点は、必ず2人でしか遊べないという点である。
心理ゲームである都合上、通話中でないと面白さはなくなってしまう...。
あいことばでマッチングするようにして、仲間内専用のゲームとして
公開しようと考えた。

2025.10.6
複数組が同時並行で部屋に入ってゲームが進行できるようにした。
まだ、防御側のスコアが更新されない。
ユーザー名も入れたい。

2025.10.7
スコア表示を直した。点数を結果として出力できるようにした。

2025.10.8
基本的なシステムは完成した。当初私の思い描く内容になっている。
MySQLの本を学校で借りる。
アカウント登録ができる、オンラインゲームを作りたい。
まだ、誰もやっていないものを見つけるのは難しいので、
既存のゲームになにか要素を加えて差別化しようと思う。
